*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

//enlances import
@import "utilidades/variables";
@import "contenedores/bar-nav";
@import "contenedores/form-contac";
@import "contenedores/varios";

 
