
/* main de index*/
main h1{
    text-align: center;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
        .imagen-main img{
        display: block;
    }
   
}
.seccion-parrafo p{
    margin: 0;
    text-align: center;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* css de productos*/
.seccion-img{
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    justify-content: center;
}
.main-productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: auto;
}
.contenedor-productos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.imagen{
    margin: 15px;    
}
.imagen img{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    box-shadow:10px 5px 5px whitesmoke;
}
.imagen p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.novedades{
   text-align: center;    
}
.novedades-main{
    font-size: 30px;
    text-align: center;
}
main img{
    width: 500px;
    height: 400px;     
}
main{
    background-color: $color-fondo-main;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;    
}
main div{
    background-color:  $color-fondo-main;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;   
}
.seccion-parrafo{
    background-color:  $color-fondo-main;

}
.sobre-nosotros{
   background-image: url(../../img/fondo.cielo.jpg);
}
.PARRAFO-NOSOTROS{
    font-size: 20PX;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;   
}
.segundo-parrafo-nosotros{
    font-size: 20PX;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;   
}
div img{
    width: 600px;
    height: 600px;
    display: block;
    margin: auto;   
}
  